@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Roboto', sans-serif;
}

.todo-wrapper {
    max-width: 100%;
    width: 500px;
    margin: 2em auto;
    background: white;
    padding: 1em;
}
/*
h1 {
    color: #3f51b5;
}

input, button {
    padding: 0.5em;
    margin: 2px;
    display: inline-block;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19);
}
input, button, div.todo-wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
input {
    border: 2px solid #3f51b5;
}

button {
    background: #3f51b5;
    color: #fff;
    border: none;
    padding: 0.7em;
    line-height: 1.4em;
    font-weight: 500;
    border-radius: 2px;
    text-transform: uppercase;
    min-width: 88px;
    cursor: pointer;
}

button:last-of-type {
    margin-right: 0;
}




form.create-todo-form {
    border-bottom: 1px solid #ecf0f1;
    padding: 1em 0;
}

form.create-todo-form input {
    width: calc(100% - 100px);
}


tr.todo-not-completed td:first-of-type {
    color: #e74c3c;
}
*/
/*tr.todo-completed td:first-of-type {
    text-decoration: line-through;
    color:red;
}

th, td {
    color: #3f51b5;
}
*/

/*
button{
    border: none;
    border-color: transparent;;
    }
*/





td:first-of-type {
    width: 80%;
}

td:last-of-type {
    text-align: right;
}



th, td {
    color: #3f51b5;
}

table {
    width: 100%;
}

label{
  color: #3f51b5;  
}


.todo-completed label  {
    text-decoration: line-through;
    color:#f50057;
}



.buttons__action {
    width: 200px;
    display: inline;
}

.header{
    width: 100%;
    height: 30px; 
    text-align: right;
    padding: 10px;
    color: #3f51b5;
}

.left{
    float: left;
}


form{
    display: inline;
}
label{
    margin-right: 110px;
}